{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>petrobowl-UENR</title>
        <link rel="icon" href="{% static 'images/uenr-logo.png' %}">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <script src="{% static 'javascript/base.js' %}"></script>
    </head>
    <body>
        <header>
            <a id="home" href="{% url 'home' %}">
                <div id="home-div">
                    <img src="{% static 'images/pbowl.png' %}" alt="petrobowl" id="icon-photo-pbowl">
                    <img src="{% static 'images/uenr-logo.png' %}" alt="petrobowl" id="icon-photo-uenr">
                </div>
            </a><br>
            <a href="{% url 'home' %}" class="mid-head"><h2>Home</h2></a>
            <a href="{% url 'training' %}" class="mid-head" id="training"><h2>Training</h2></a>
            <a href="{% url 'quiz' %}" class="mid-head" id="quiz"><h2>Quiz</h2></a>
            <a href="{% url 'resources' %}" class="mid-head" id="resources"><h2>Resources</h2></a>
            <a href="" id="menu" class="mid-head"><h2>Menu</h2></a>
        </header>
        <main>
            {% block body %}
            {% endblock %}
        </main>
    </body>
</html>