{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <title>petrobowl-UENR</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'images/uenr-logo.png' %}">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'javascript/base.js' %}"></script>
    </head>
    <body>
        <div class="top-nav">
            <a href="{% url 'home' %}" id="home"><i class="fa fa-home"></i> Home</a>
            <a href="{% url 'training' %}" id="training">Training</a>
            <a href="{% url 'quiz' %}" id="quiz">Quiz</a>
            <a href="https://drive.google.com/drive/folders/13VGlhDZRmpEHfF0Qywtgxb-VzMYxQavB?usp=sharing" 
            target="_blank" id="resources">Resources</a>
            <div id="set-menu">
                <button id="Set">Set</button>
                <div id="set-contents">
                    <a href="">Set 1</a>
                    <a href="">Set 2</a>
                    <a href="">Set 3</a>
                    <a href="">Set 4</a>
                    <a href="">Set 5</a>
                </div>
            </div>
        </div>
        <main>
            {% block body %}
            {% endblock %}
        </main><br>
    </body>
</html>