{% extends "base.html" %}
{% load static %}

{% block body %}
    <img src="{% static 'images/pbowl.png' %}" alt="image" id="pbowl-logo">
    <p id="slogan">Think Petroleum... Think Energy!!!</p>
    <h2>About PetroBowl® Competition</h2>
    <p>The PetroBowl® competition pitches SPE student chapter teams against each other in a series of 
        quick-fire rounds, answering technical and nontechnical industry-related questions. The contest 
        has grown in size and popularity since its debut in 2002, and in 2015 was taken global with the 
        introduction of six regional qualifier contests.
    </p>
    <p>
        Regional qualifier competitions now take place in the Africa, Asia Pacific, Europe, South America 
        and Caribbean, Middle East, and North America SPE regions, and the top 32 teams are invited to the 
        PetroBowl® Championship.
    </p>
    <a href="https://www.spe.org/en/students/petrobowl/petrobowl-history/">Learn More</a>
{% endblock %}