{% extends "base.html" %}
{% load static %}

{% block body %}
    <img src="{% static 'images/pbowl.png' %}" alt="image" id="pbowl-logo">
    <p id="slogan">Think Petroleum... Think Energy!!!</p>
    <h2>Petrobowl-UENR</h2>
    <p>Some Students of the Department of Petroleum and Natural Gas Engineering of the University 
        of Energy and Natural Resources (UENR) have made a historic feat by emerging winners in the 
        PetroBowl contest held during the SPE Ghana Chapter Student Conference on 
        June 10, 2022, in Accra... 
    </p>
    <a href="https://uenr.edu.gh/uenr-students-make-historic-feat-at-spe-ghana-conference/" target="_blank">
        Learn More
    </a>
    <h2>About PetroBowl® Competition</h2>
    <p>The PetroBowl® competition pitches SPE student chapter teams against each other in a series of 
        quick-fire rounds, answering technical and nontechnical industry-related questions. The contest 
        has grown in size and popularity since its debut in 2002, and in 2015 was taken global with the 
        introduction of six regional qualifier contests.
    </p>
    <p>
        Regional qualifier competitions now take place in the Africa, Asia Pacific, Europe, South America 
        and Caribbean, Middle East, and North America SPE regions, and the top 32 teams are invited to the 
        PetroBowl® Championship.
    </p>
    <a href="https://www.spe.org/en/students/petrobowl/petrobowl-history/" target="_blank">Learn More</a>
    <br><br>
    <footer>
        <div id="footer-links">
            <a href="{% url 'training' %}" class="footer-link">Training</a>
            <a href="{% url 'quiz' %}" class="footer-link">Quiz</a>
            <a href="https://drive.google.com/drive/folders/13VGlhDZRmpEHfF0Qywtgxb-VzMYxQavB?usp=sharing" 
            target="_blank" class="footer-link">Resources</a>
        </div>
    </footer>
{% endblock %}
